

<!DOCTYPE HTML>

<html>
	<head>
		<title>About Me</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{url_for('home')}}">Wasiq</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{url_for('home')}}">Home</a></li>
							<li><a href="{{url_for('education')}}">Education</a></li>
							<li><a href="{{url_for('about_me')}}">About Me</a></li>
							<li><a href="{{url_for('enter_details')}}" class="button primary">Quiz about Me</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Learn more about me</h2>
						</header>

						<!-- Text -->
							<section>
								<h3>Knowing me of a personal level</h3>
								<p>Hello,<br> I am glad that you made it to this part of the Website. Nice to see you here.<br>
								My Name is Wasiq Wani. I come from a small city in India called Srinagar which is in the state of
									<a href="https://en.wikipedia.org/wiki/Jammu_and_Kashmir_(union_territory)">Jammu and Kashmir</a>. I was born in Srinagar on 11th December 1997. I also did majority of my schooling
								from Srinagar. I graduated from my high school in March 2016 and moved to Poland in October 2016 to
								start my Computer Engineering Course in Vistula University, Warsaw. I graduated from the university
								in October 2020 and started working full-time after that.</p>


								<hr />


								<header>
									<h3>Programming</h3>
								</header>
								<p>I can recall my first experience with programming being my younger brother teaching me how to print
								"Hello world" on the console with C. It looked very interesting and made me more curious about the subject.
								It was what motivated me to study Computer Engineering instead of Medicine.<br> The first programming language
								that I properly learned was C# in university for first two semesters. In the following semesters, I also gained experience
								with Java and Python. Since the last two years, I have been trying to get better in Python. I have spent quite a bit of time
								getting familiar with different data structures and algorithms, also getting experience with Flask framework, working with REST API's
								and implementing SQL with Python.</p>

								<hr />

								<header>
									<h3>Hobbies</h3>
								</header>
								<p>There are multiple things that I enjoy doing when I am not working or studying. I have been into sports as far as I can remember,
								I used to play cricket as a child and in my teenage years I was a part of the U-14 and U-19 semi-professional football team which was
								under the national football association. I am an avid football fan being a big supporter of Real Madrid and Cristiano Ronaldo.<br>
								I also love going to the gym and working out, I have been working out since I was 16 years old. I have always noticed that I am much more
								motivated and focused after a good workout session. I can say I am like a typical gym bro, I love doing chest and always skip legs (Kidding!).<br>
								After getting a full-time job and becoming financially dependent on myself, I was able to pursue my next hobby which is travelling.
								My passion for travelling possibly comes because of my parents who love to travel. My favorite destination to travel was Bali and my next favourite destination
								to visit is the Caribbean.</p>

								<hr />

								<header>
									<h3>Why Hire Me?</h3>

								</header>
								<p>My current goal is to get a job as a Python developer. I have found a new grown love for programming as I have
								been doing it consistently for the last two years. I believe that I will be a valuable assist to the company that I will work
								for as in both of my professional jobs I had to gain the knowledge from scratch, but I always worked hard and gained the proper
								knowledge to do my job in an efficient manner because of which I was nominated in my current job to be the SME for API's and an application trainer for new Kyriba joiners.
								I always do what is expected or more, do I have hard days at work? Yes! but its from the hard days that I learn to become better at my job.<br>
								I possess a solid foundation in Python development, backed by 2 years of hands-on experience. My proficiency extends to designing and implementing efficient, scalable, and maintainable code.
								I am well-versed in web development framework Flask, REST API's, enabling me to build robust and feature-rich web applications.
								My expertise covers both front-end and back-end development, ensuring end-to-end solutions.<br> I thrive in collaborative environments and have a track record of successfully working with cross-functional teams
								as at my current job with Kyriba, I am daily in contact with the DevOps team, Products Team, Functional Consultants to make sure that there are no bugs
								or issue on any of the platforms that our clients work on.</p>

								<hr />


							</section>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>