<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{url_for('home')}}">Wasiq</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{url_for('home')}}">Home</a></li>
							<li><a href="{{url_for('education')}}">Education</a></li>
							<li><a href="{{url_for('about_me')}}">About Me</a></li>
							<li><a href="{{url_for('enter_details')}}" class="button primary">Quiz about Me</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Wasiq Wani</h2>
							<p>Python Developer</p>
						</header>
						<span class="image"><img src="static/images/pic_wasiq.jpg" alt="" /></span>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>


			<!-- Write about your work experience at Sitel -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="static/images/lyft_img2.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Customer Support (Safety) - Lyft (Sitel)</h2>
							<h3>September 2019 - December 2020</h3>
						</header>
						<ul>
							<li>Working for a US based ride-share app called Lyft.</li>
							<li>Handling client calls and tickets.</li>
							<li>Dealing with safety related issues, helping clients dealing with threatening situations.</li>
							<li>Preparing escalations, refunds, account reactivation/deactivation.</li>
							<li>Promoted to L2 safety after 4 months at L1</li>
							<li>Highest survey scores straight months in my team</li>
						</ul>

					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Write about your work experience at Kyriba -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="static/images/kyriba.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Support Consultant - Kyriba</h2>
							<h3>April 2021 - Current</h3>
						</header>
						<ul>
							<li>Working as a support consultant at Kyriba - Treasury Management system(SaaS).</li>
							<li>Monitoring of different platforms to check the flow of bank statements and payments is going properly.</li>
							<li>Helping clients with Kyriba application related issues such as application set-up, bugs, payment issues.</li>
							<li>Learned about various payment methods, banking knowledge, knowledge about treasury and various banking protocols</li>

						</ul>


					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>