<!DOCTYPE HTML>

<html>
	<head>
		<title>Education</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{url_for('home')}}">Wasiq</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{url_for('home')}}">Home</a></li>
							<li><a href="{{url_for('education')}}">Education</a></li>
							<li><a href="{{url_for('about_me')}}">About Me</a></li>
							<li><a href="{{url_for('enter_details')}}" class="button primary">Quiz about Me</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>My Education</h2>
						</header>

							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
									<section id="content">
										<a href="https://dpssrinagar.com/" title="Delhi Public School" class="image fit"><img src="static/images/dps_school.jpg" alt="" /></a>
										<h2>Delhi Public School, Srinagar</h2>
										<h3>March 2007 - March 2016</h3>
										<ul>
											<li>I joined this school in 2007 from the 4th Grade until I graduated in 2016</li>
											<li>I gained a lot of knowledge from the very talented teachers of this school</li>
											<li>I scored 4.0 GPA in 10th and 12th Grade exams</li>
											<li>I specialized in Medical stream with subjects such as Biology, Physics and Chemistry</li>
										</ul>
										<a href="https://vistula.edu.pl/en" title="Vistula University" class="image fit"><img src="static/images/vistula_university.jpg" alt="Hello" /></a>
										<h2>Vistula University, Warsaw</h2>
										<h3>October 2016 - October 2020</h3>
										<ul>
											<li>I majored in Computer Science/Engineering degree with a 4.0/5 GPA.</li>
											<li>During the course I was introduced to and learned multiple programming languages(C#, Java, Python etc).</li>
											<li>I was also very involved with hosting events in the university, being one of the main members of the organizing team.</li>
											<li>I was awarded an achievement award for my work that I did organizing and hosting multiple cultural and social events for the university.</li>
										</ul>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>